body {
  background: linear-gradient(90deg, #28527a, #1f4068);
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 160px;
  height: auto;
  margin-bottom: 20px;
}

.loader {
  border: 7px solid #ffffff;
  border-top: 7px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
